html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*  EMPIEZA HEADER PARA TODAS LAS PAGINAS */
.nav-item a:hover {
  background-color: #74d98b;
  color: white;
  border-radius: 12px;
}
/* TERMINA HEADER */

/* EMPIEZA INDEX */

.bienvenida {
  background-image: url(../images/paw-pads.webp);
  background-position: center center;
  background-size: cover;
  height: 50vh;
}

.bienvenida h1 {
  animation: fadeInLeft;
  animation-duration: 2s;
  background: #a1ffce; /* fallback for old browsers */
  background: linear-gradient(
    to right,
    #faffd1,
    #a1ffce
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

@media screen and (min-width: 960px) {
  .bienvenida {
    height: 80vh;
  }
}

.productos h2 {
  animation: fadeInUp;
  animation-duration: 2s;
}

.productos p {
  animation: fadeInUp 2s 1s both;
}

/* TERMINA INDEX */

/* EMPIEZA SECCION DE NOSOTROS */

.collab--logo img {
  max-width: 150px;
}

/* TERMINA SECCION DE NOSOTROS */

/* EMPIEZA SECCION DE PROMOCIONES */

.promociones h1 {
  text-align: center;
  text-transform: uppercase;
  animation: heartBeat;
  animation-duration: 2s;
  background: #ed213a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #93291e,
    #ed213a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #93291e,
    #ed213a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.card_promociones {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  margin: 50px 15px 0px 15px;
}

.container_promociones {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 1rem;
  padding: 2rem;
}

.container_promociones img {
  order: -1;
  align-self: center;
  max-width: 150px;
}

.card_promociones button {
  margin-top: auto;
  background: #f12711; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f5af19,
    #f12711
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f5af19,
    #f12711
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.card_promociones button:hover {
  background: #94b49f;
}
/* TERMINA SECCIÓN DE PROMOCIONES */

/* EMPIEZA SECCIÓN DE EVENTOS */

.eventos h1 {
  text-align: center;
}

.eventos img {
  width: 100%;
}

.card_eventos {
  display: grid;
  grid-template-columns: 10% auto auto 10%;
  grid-template-rows: auto auto;
  column-gap: 10px;
  margin-top: 30px;
}

.card_eventos button {
  margin-top: auto;
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #8dc26f,
    #76b852
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #8dc26f,
    #76b852
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  width: 120px;
}

.container {
  border: 1px solid gray;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.card_general {
  grid-column: 2/4;
}

.card_general button:hover {
  background: black;
}

/* TERMINA SECCIÓN DE EVENTOS */

/* EMPIEZA LA SECCIÓN DE CONTACTO */

.contacto {
  margin-bottom: 20px;
}

.contacto_collab_logo {
  margin-bottom: 20px;
  margin-top: 20px;
}

.contacto_collab_logo img {
  width: 150px;
  display: block;
  margin: auto;
}

.contacto_collab_images {
  text-align: center;
}

.collab img {
  display: block;
  margin: auto;
  width: 100px;
}

.time img {
  display: block;
  margin: auto;
  width: 100px;
}

.form_contacto {
  display: flex;
  flex-direction: column;
}

/* TERMINA LA SECCIÓN DE CONTACTO */

/* EMPIEZA RESPONSIVE MIN WIDTH 600PX */

@media screen and (min-width: 600px) {
  .contacto_collab_images {
    display: flex;
    justify-content: space-around;
  }
}

/* TERMINA RESPONSIVE MIN WIDTH 600PX */

/* EMPIEZA RESPONSIVE MIN WIDTH 1200PX */

@media screen and (min-width: 1200px) {
  .form_contacto {
    flex-direction: row;
    justify-content: space-between;
  }
  .contacto_collab {
    padding-right: 9rem;
  }
  .collab {
    margin-right: 40px;
  }
}

/* TERMINA RESPONSIVE MIN WIDTH 1200PX */
