/* Empiezan estilos de Promociones */
.promociones {
  h1 {
    @include important-text;
    animation: map-get($animations, heartB);
    animation-duration: 2s;
  }

  s {
    color: #b2b1b9;
  }

  span {
    color: #c21010;
    font-size: 20px;
  }

  .btn {
    border: none;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
  }

  .btn--comprar {
    @extend .btn;
    background-color: #809a6f;
    color: $colorW;
  }

  .btn--comprar:hover {
    background-color: #df7861;
    color: $colorW;
  }

  img {
    max-width: 140px;
    padding-top: 15px;
  }
}
/* Terminan estilos de Promociones */
