@import "globals";
@import "variables";
@import "navbar";

/* Empiezan estilos de Index */
.bienvenida {
  background-image: url(../images/paw-pads.webp);
  background-position: center center;
  background-size: cover;
  height: 50vh;

  @media screen and (min-width: 960px) {
    height: 80vh;
  }

  h1 {
    animation: fadeInLeft;
    animation-duration: 2s;
    background: #a1ffce; /* fallback for old browsers */
    background: linear-gradient(
      to right,
      #faffd1,
      #a1ffce
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }
}

.productos {
  h2 {
    animation: fadeInUp;
    animation-duration: 2s;
  }

  p {
    animation: fadeInUp 2s 1s both;
  }
}
/* Terminan estilos de Index */

/* Empiezan estilos de Nosotros */
.nosotros {
  .collab--logo {
    img {
      max-width: 150px;
    }
  }

  .collab--images {
    img {
      max-width: 100px;
    }
  }
}
/* Terminan estilos de Nosotros */

/* Empiezan estilos de Promociones */
.promociones {
  h1 {
    text-align: center;
    text-transform: uppercase;
    animation: heartBeat;
    animation-duration: 2s;
    background: #ed213a; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #93291e,
      #ed213a
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #93291e,
      #ed213a
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }

  .card_promociones {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
    margin: 50px 15px 0px 15px;

    button {
      margin-top: auto;
      background: #f12711; /* fallback for old browsers */
      background: -webkit-linear-gradient(
        to right,
        #f5af19,
        #f12711
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        to right,
        #f5af19,
        #f12711
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      color: $colorW;
      padding: 0.5rem;
      border: none;
      border-radius: 1rem;
      font-size: 1.2rem;
      cursor: pointer;
    }

    button:hover {
      background: #94b49f;
    }

    .container_promociones {
      display: flex;
      flex-direction: column;
      border: 1px solid $grayBorder;
      border-radius: 1rem;
      padding: 2rem;

      img {
        order: -1;
        align-self: center;
        max-width: 150px;
      }
    }
  }
}
/* Terminan estilos de Promociones */

/* Empiezan estilos de Eventos */
.eventos {
  h1 {
    text-align: center;
  }

  img {
    width: $myWidth;
  }

  .card_eventos {
    display: grid;
    grid-template-columns: 10% auto auto 10%;
    grid-template-rows: auto auto;
    column-gap: 10px;
    margin-top: 30px;

    button {
      margin-top: auto;
      background: #76b852; /* fallback for old browsers */
      background: -webkit-linear-gradient(
        to right,
        #8dc26f,
        #76b852
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        to right,
        #8dc26f,
        #76b852
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      color: $colorW;
      padding: 0.5rem;
      border: none;
      border-radius: 1rem;
      font-size: 1.2rem;
      cursor: pointer;
      width: 120px;
    }

    .card_general {
      grid-column: 2/4;

      button:hover {
        background: black;
      }

      .container {
        border: 1px solid $grayBorder;
        border-radius: 20px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        margin-top: 15px;
      }
    }
  }
}
/* Terminan estilos de Eventos */

/* Empiezan estilos de Contacto */
.contacto {
  margin-bottom: 20px;

  .form_contacto {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 1200px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .contacto_collab {
    @media screen and (min-width: 1200px) {
      padding-right: 9rem;
    }
    .contacto_collab_logo {
      margin-bottom: 20px;
      margin-top: 20px;

      img {
        width: 150px;
        display: block;
        margin: auto;
      }
    }

    .contacto_collab_images {
      text-align: center;

      img {
        display: block;
        margin: auto;
        width: 100px;
      }

      @media screen and (min-width: 600px) {
        display: flex;
        justify-content: space-around;
      }

      .collab {
        @media screen and (min-width: 1200px) {
          margin-right: 40px;
        }
      }
    }
  }
}
/* Terminan estilos de Contacto */
